BODY {
  margin: 0;
}

H1 {
  color: #EC5800;
}

H2 { 
  border-bottom: solid 10px #0092C3;
}

#content {
  padding-left: 1em;
  padding-right: 1em;
}

.note {
  background-color: #F5F5F5;
  margin: 1ex 3ex;
  padding: 0.5ex 1ex;
  border: solid 1px #EFEFEF;
}

#sidebar {
  background-color: #0092C3;
}

div#sidebar a {
  color: white;
}
